#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.imputBox {
  text-align: center;
  width: 2em;
}

.letterBox {  
  height: 2em;
  width: 2em;
  border: 0.1em solid black;
  margin: 0.1em;
  color: black;
}

.boxRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}

.grey {
  background-color: gray;
}

.result-text {
  text-align: center;
}
